[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
pandas = "==2.2.2"
scikit-learn = "==1.5.0"
matplotlib = "==3.9.0"
optuna = "==3.6.1"
torch = "==2.3.0"
torchvision = "==0.18.0"
torchaudio = "==2.3.0"

[dev-packages]

[requires]
python_version = "3.11"
